 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1920px;
}

.u-section-1 .u-image-1 {
  width: 170px;
  height: 170px;
  margin: 76px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 200px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.875rem;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  width: 251px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 253px;
  background-image: none;
  margin: 226px auto 0;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: auto;
  background-image: none;
  margin: 482px 0 0;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: normal;
  font-style: normal;
  width: 602px;
  margin: 18px auto 0;
}

.u-section-1 .u-list-1 {
  width: 340px;
  margin: 261px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 56px;
  grid-template-columns: calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px) calc(33.3333% - 2.66667px);
  grid-gap: 4px 4px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  line-height: 2;
  font-style: normal;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 300;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  line-height: 2;
  font-style: normal;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 300;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  line-height: 2;
  font-style: normal;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 300;
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.6112em;
  margin-left: 13px;
  vertical-align: -4px;
  padding: 3px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  margin: 18px auto 0;
  padding: 6px 28px 7px 27px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.75em;
  margin-left: 35px;
  vertical-align: -4px;
  padding: 3px;
}

.u-section-1 .u-list-2 {
  width: 443px;
  margin: 63px auto 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-1 .u-icon-3 {
  background-image: none;
}

.u-section-1 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px 30px;
}

.u-section-1 .u-icon-4 {
  background-image: none;
}

.u-section-1 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-1 .u-icon-5 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 75px auto 0;
}

.u-section-1 .u-accordion-1 {
  margin-top: 108px;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
  margin-left: auto;
  margin-right: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-1 .u-icon-7 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-weight: normal;
  margin: 20px auto 0 0;
}

.u-section-1 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-1 .u-icon-8 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-weight: normal;
  margin: 20px auto 0 0;
}

.u-section-1 .u-accordion-item-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-1 .u-icon-9 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  font-weight: normal;
  margin: 20px auto 0 0;
}

.u-section-1 .u-accordion-item-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-1 .u-icon-10 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-1 .u-accordion-pane-5 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  font-weight: normal;
  margin: 20px auto 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
}

.u-section-1 .u-icon-11 {
  font-size: 1.6112em;
  margin-left: 13px;
  vertical-align: -4px;
  padding: 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    font-size: 2.625rem;
    width: 492px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.375rem;
    width: 429px;
    margin-top: 39px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1980px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 54px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 300;
    width: 191px;
    margin-top: 9px;
  }

  .u-section-1 .u-text-2 {
    width: 253px;
    font-weight: 900;
    font-size: 1.875rem;
    margin-top: 7px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 274px;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 457px;
  }

  .u-section-1 .u-text-5 {
    font-weight: 300;
    margin-top: -758px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 224px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 38px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    font-weight: 700;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    font-weight: 700;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.875rem;
    width: auto;
    font-weight: 700;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 60px;
    padding: 10px 30px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: center;
    margin-top: 21px;
    padding: 8px 25px 9px 24px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 34px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -351px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(33.3333% - 12px) calc(33.3333% - 12px) calc(33.3333% - 12px);
    min-height: 101px;
    grid-gap: 18px 18px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-icon-3 {
    height: 49px;
    width: 49px;
    margin: 26px auto 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-icon-4 {
    height: 49px;
    width: 49px;
    margin: 26px auto 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-icon-5 {
    height: 49px;
    width: 49px;
    margin-top: 26px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 380px;
  }

  .u-section-1 .u-accordion-link-1 {
    font-weight: 800;
  }

  .u-section-1 .u-text-9 {
    font-weight: normal;
  }

  .u-section-1 .u-accordion-link-2 {
    font-weight: 800;
  }

  .u-section-1 .u-accordion-link-3 {
    font-weight: 800;
  }

  .u-section-1 .u-accordion-link-4 {
    font-weight: 800;
  }

  .u-section-1 .u-accordion-link-5 {
    font-weight: 800;
  }

  .u-section-1 .u-accordion-pane-5 {
    min-height: 150px;
  }

  .u-section-1 .u-btn-3 {
    border-style: none;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: center;
    font-weight: 700;
    margin: 59px auto 60px;
    padding: 10px 30px;
  }
}